<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title, :size => "40x3" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "40x3" %>
  </div>
<br/><br/>

<h1>URL</h1>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :section1 %><br />
    <%= f.text_field :section1 %>
  </div>
  <div class="field">
    <%= f.label :section2 %><br />
    <%= f.text_field :section2 %>
  </div>
  <div class="field">
    <%= f.label :section3 %><br />
    <%= f.text_field :section3 %>
  </div>
  <div class="field">
    <%= f.label :section4 %><br />
    <%= f.text_field :section4 %>
  </div>
  <div class="field">
    <%= f.label :page_name %><br />
    <%= f.text_field :page_name %>
  </div>

<br/><br/>
<h1>Layout Files</h1>
  <div class="field">
    <%= f.label :html_file %><br />
    <%= f.text_field :html_file %>
  </div>

  <div class="field">
    <%= f.label :head_file %><br />
    <%= f.text_field :head_file %>
  </div>

  <div class="field">
    <%= f.label :layout_file %><br />
    <%= f.text_field :layout_file %>
  </div>

  <div class="field">
    <%= f.label :footer_file %><br />
    <%= f.text_field :footer_file %>
  </div>

  <div class="field">
    <%= f.label :end_of_page_file %><br />
    <%= f.text_field :end_of_page_file %>
  </div>
<br/><br/>

<h1>Content Files</h1>
  <div class="field">
    <%= f.label :body_1 %><br />
    <%= f.text_field :body_1 %>
  </div>

  <div class="field">
    <%= f.label :body_2 %><br />
    <%= f.text_field :body_2 %>
  </div>

  <div class="field">
    <%= f.label :body_3 %><br />
    <%= f.text_field :body_3 %>
  </div>

  <div class="field">
    <%= f.label :body_4 %><br />
    <%= f.text_field :body_4 %>
  </div>

  <div class="field">
    <%= f.label :body_5 %><br />
    <%= f.text_field :body_5 %>
  </div>

  <div class="field">
    <%= f.label :body_6 %><br />
    <%= f.text_field :body_6 %>
  </div>

  <div class="field">
    <%= f.label :body_7 %><br />
    <%= f.text_field :body_7 %>
  </div>

  <div class="field">
    <%= f.label :body_8 %><br />
    <%= f.text_field :body_8 %>
  </div>

  <div class="field">
    <%= f.label :body_9 %><br />
    <%= f.text_field :body_9 %>
  </div>

  <div class="field">
    <%= f.label :body_10 %><br />
    <%= f.text_field :body_10 %>
  </div>



<br/><br/><br/><br/>
  <div class="field">
    <%= f.label :page_layout %><br />
    <%= f.text_field :page_layout %>
  </div>
  <div class="field">
    <%= f.label :col_layout %><br />
    <%= f.text_field :col_layout %>
  </div>
  <div class="field">
    <%= f.label :header_special %><br />
    <%= f.text_field :header_special %>
  </div>
  <div class="field">
    <%= f.label :main_banner %><br />
    <%= f.text_field :main_banner %>
  </div>
  <div class="field">
    <%= f.label :col1_1 %><br />
    <%= f.text_field :col1_1 %>
  </div>
  <div class="field">
    <%= f.label :col1_2 %><br />
    <%= f.text_field :col1_2%>
  </div>
  <div class="field">
    <%= f.label :col1_3 %><br />
    <%= f.text_field :col1_3 %>
  </div>
  <div class="field">
    <%= f.label :col1_4 %><br />
    <%= f.text_field :col1_4 %>
  </div>
    <div class="field">
    <%= f.label :col2_1 %><br />
    <%= f.text_field :col2_1 %>
  </div>
  <div class="field">
    <%= f.label :col2_2 %><br />
    <%= f.text_field :col2_2%>
  </div>
  <div class="field">
    <%= f.label :col2_3 %><br />
    <%= f.text_field :col2_3 %>
  </div>
  <div class="field">
    <%= f.label :col2_4 %><br />
    <%= f.text_field :col2_4 %>
  </div>
    <div class="field">
    <%= f.label :col3_1 %><br />
    <%= f.text_field :col3_1 %>
  </div>
  <div class="field">
    <%= f.label :col3_2 %><br />
    <%= f.text_field :col3_2%>
  </div>
  <div class="field">
    <%= f.label :col3_3 %><br />
    <%= f.text_field :col3_3 %>
  </div>
  <div class="field">
    <%= f.label :col3_4 %><br />
    <%= f.text_field :col3_4 %>
  </div>
    <div class="field">
    <%= f.label :col4_1 %><br />
    <%= f.text_field :col4_1 %>
  </div>
  <div class="field">
    <%= f.label :col4_2 %><br />
    <%= f.text_field :col4_2%>
  </div>
  <div class="field">
    <%= f.label :col4_3 %><br />
    <%= f.text_field :col4_3 %>
  </div>
  <div class="field">
    <%= f.label :col4_4 %><br />
    <%= f.text_field :col4_4 %>
  </div>
  <br/><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
