<h1>Pages</h1>
<br/><br/>
<b>Rules :</b>
<br/>
Password Required Pages: Set section_1 as "scr"
<br/><br/>
<%= link_to 'New Page', new_page_path %>
<br/><br/>

<table width="600" cellspacing="0" cellpadding="0" border="1">
  <tr>
    <th>ID</th>
    <th>URL</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td class="table_space"><%= page.id %></td>
    <td class="table_space"><%= page.url %></td>
    <td class="table_space"><%= page.title %></td>
    <td class="table_space"><%= page.description %></td>
    <td class="table_space"><%= link_to 'Show', page %> | <%= link_to 'Edit', edit_page_path(page) %> | <%= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
